/*  ToDoList.tsx styling */
.main-container{

    text-align: center;
}

.task-bar{
    
}

input[type="text"]{
    font-size: 1.6rem;
}


/* TaskCards.tsx styling */
ol{
    list-style: none;
}

.card-style {
    border: 3px solid;
    border-radius: 10px;
    padding: 25px 5px;
    /* width: 40vw; */
    margin-bottom: 25px;
    text-align: center;
    font-weight: bold;
    background-color: aquamarine;
}